Django>=1.8                             # BSD
djangorestframework==3.3.3              # BSD
six==1.10.0                             # MIT
chardet==2.3.0                          # LGPL
tablib==0.11.2                          # MIT

coverage==4.2                           # Apache
flake8==3.0.4                           # MIT
