Django==1.11.28                         # BSD
djangorestframework==3.9.4              # BSD
six==1.12.0                             # MIT
chardet==3.0.4                          # LGPL
tablib==0.12.1                          # MIT

coverage==4.2                           # Apache
flake8==3.0.4                           # MIT
